* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 1rem;
  width: 100%;
  max-width: 1000px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  margin-top: 10rem;
  background: rgb(141, 115, 158);
  border-radius: 0.2em;
  padding: 1rem;
}

.list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1.5rem;
  background: aquamarine;
  padding: 1rem;
  border-radius: 0.5em;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-align: center;
  gap: 1rem;
  background: white;
  border-radius: 0.4em;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

input {
  display: flex;
  height: 2rem;
  padding: 0 1rem;
  border: none;
  border-radius: 0.2em;
  background: aquamarine;
}

.btn_container {
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 2rem;
  width: 100%;
  max-width: fit-content;
  padding: 0 1rem;
  border: none;
  border-radius: 0.2em;
  background: aquamarine;
  cursor: pointer;
  transition: background 0.2s ease-in-out;

  &:disabled {
    cursor: not-allowed;
  }
}

.btn:hover {
  background: black;
  color: white;
}
