* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

input {
  display: flex;
  height: 2rem;
  padding: 0 1rem;
  border: none;
  border-radius: 0.2em;
  background: aquamarine;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 2rem;
  width: 100%;
  max-width: 122px;
  padding: 0 1rem;
  border: none;
  border-radius: 0.2em;
  background: aquamarine;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.btn:hover {
  background: black;
  color: white;
}
